# Compilados de Angular
/dist
/tmp
/out-tsc
build/
bin/
obj/
environments/

.env
*.local

# Dependencias
/node_modules
packages/

# Compilación de VS Code
/.vscode/*

/.angular/cache
.angular

**/.vscode/

