# Compilados de Angular
/dist
/tmp
/out-tsc
build/
bin/
obj/

.env
*.local

# Dependencias
/node_modules
packages/

# Compilación de VS Code
/.vscode/*

/.angular/cache
.angular

**/.vscode/

# Ignorar archivos de entorno específicos
src/environments/environment.ts
src/environments/environment.production.ts